@{
    ViewData["Title"] = "Home Page";
    Layout="_DefaultLayout";
}

<div class="text-center">
    <h1 class="display-4">HomePageBody</h1>
    @await Component.InvokeAsync("GameListComponent")
</div>
