@using MyWebApplication.ViewModel.Comment

@{
	Layout = null;
}
@model AddCommentViewModel


<h4>Yorum Ekle</h4>
<form  class="mt-3" id="commentForm" onsubmit="submitComment(event)">
    <!-- Gizli Alanlar: GameId ve AppUserId -->
    <input type="hidden" asp-for="GameId" value="@Model.GameId" />

    <!-- Yorum İçeriği Alanı -->
    <div class="mb-3">
        <label asp-for="Content" class="form-label">Yorumunuz</label>
        <textarea asp-for="@Model.Content"  class="form-control" rows="4" placeholder="Yorumunuzu buraya yazınız..."></textarea>
        <span asp-validation-for="@Model.Content" class="text-danger"></span>
    </div>

    <!-- Gönder Butonu -->
    <button type="submit" class="btn btn-primary" >Yorum Gönder</button>
</form>


<script src="~/js/comment.js"></script>



